#gridp{
  display: grid;
  grid-template-columns:341px 1fr;
}
body{
  margin: 0px;
}
ol{
  border-right:1px solid gray;
  width: 300px;
  margin:0px;
}
h1{
  text-align:center;
  border-bottom:1px solid gray;
  text-decoration: none;
  margin:0px;
  padding: 20px;
  height:55px;
}
h2{
  border-right:1px solid gray;
  width:340px;
  margin:0px;
}
a{
color:black;

}

.qkr{

  text-decoration: none;
}
